.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1.5rem;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul > li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

ul > li > div {
  margin-top: auto;
}

footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  height: 50px;
}
