* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1.5rem;
}

input,
textarea {
  font-family: sans-serif;
  border: none;
  font-size: 100%;
  outline: none;
}

button {
  border: none;
  background: white;
  font-size: 90%;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
}

header > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.todo-form {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  gap: 1rem;
}

.todo-form > textarea {
  resize: vertical;
}

.todo-form > button {
  background: #0d6efd;
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
  margin-left: auto;
  color: white;
}

.todo-section {
  margin: 3rem 0;
}

.todo-section > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list > li {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  gap: 1.5rem;
}

.todo-list > li:hover {
  background-color: #f6f8fa;
}

.todo-list > li > h3 {
  font-weight: bold;
  margin-top: 0.5rem;
}

.todo-list > li > div {
  margin-top: auto;
  margin-left: auto;
}

.todo-list > li > div > button {
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 4px;
}

.todo-list > li > div > button {
  background: #198754;
  color: white;
}

.todo-list > li > div > .delete {
  background: #dc3545;
  color: white;
}

footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  height: 50px;
}
